--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.3.1+cpu
openai-whisper
fastapi
uvicorn
pydantic
python-docx
python-multipart==0.0.9
yt-dlp
ffmpeg-python
youtube-transcript-api
requests